**/.venv/
**/.ruff_cache/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.egg-info/
**/dist/
**/build/
**/node_modules/
**/.git/
**/.DS_Store
**/.idea/
**/.vscode/
**/*.swp
**/*.db
**/test-results/

# Only need database-builder, simple-agentic-framework, and preso
assignment-readonly/
explore-dataset/
